body{
  background-color: #F6ECEC;
}

.page {
  margin: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
}

header li {
  margin-left: 2rem;
}

#main {
  display: flex;
}

.w-50 {
  width:50%;
}

.w-100 {
  width:100%;
}

h2{
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-around;
}